.basket{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}
.main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 5rem;
    padding: 1rem 4rem;
}
.basket img{
    width: 200px;
}
.title{
    width: 200px;
}
.empty{
    padding: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}
.empty strong{
    font-size: 40px;
}
.empty button{
    padding: 8px 14px;
    background-color: #FF583E;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 1rem;
}