.about {
    padding-top: 42px;
    padding-bottom: 40px;
}

.container {
    margin: 0 auto;
    width: 1200px;

}


.about h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #254F4C;
}

.card {
    width: 256px;
    height: 184px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 42px;

}

.card h5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.card p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #1D3130;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}