.footer{
    background-color: #254F4C;
    height: 152px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 88px;
    gap: 4rem;
}

.companyLogo{
    display: flex;
    margin-top:30px ;
}

.contacts{
    display: flex;
}

.food{
    font-family: 'Roboto',serif;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.planet{
    font-family: 'Roboto',serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 0;
}

.number{
    font-family: 'Roboto',serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.key{
    margin-right: 10px;
}

.telLogo{
    margin-top: 21px;
    margin-right: 5px;
}

.list{
    color: #FFFFFF;
    font-family: 'Roboto',serif;
    margin-bottom: 45px;
}